@media screen and (max-width: 1000px) {
    body {
        padding: 5%;
        font-size: 1.1rem;
    }

    .info {
        flex-direction: column;
        align-content: center;
    }

    p {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .phone {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 50px;
    }

    .projects-banner {
        /* flex-direction: column !important; */
        align-items: center;
        gap: 5%;
    }
}

@font-face {
    font-family: "Rockwell";
    src: url("./Fonts/Rockwell.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

a {
    text-decoration: none;
}

body {
    animation: fadeIn 1.4s;
    padding: 30px 15%;
    font-family: 'FH Phemister Test', sans-serif;
    font-size: 1.3rem;
}

.info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 5%
}

.phone {
    display: flex;
    gap: 4rem;
}


.flexjustify {
    display: flex;
    justify-content: space-between;
}

.flexcenter {
    display: flex;
    justify-content: center;
}

.groceline-tab {
    width: 200px;
    height: 100px;
    border-radius: 50px 10px;
    background-color: #93C47D;
    transition: all 0.3s;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    font-size: 1.5rem;
    font-family: Rockwell;
}

.groceline-tab:hover {
    color: #595959;
    background-color: #b1f097;
}

.pending-tab {
    width: 200px;
    height: 100px;
    border-radius: 50px 10px;
    background-color: gray;
    transition: all 0.3s;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

.pending-tab:hover {
    color: #636363;
    background-color: #bdbdbd;
}

.projects-banner {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.hr-solid {
    border: 1px solid black;
    opacity: 1;
    height: 2px;
}

h1,
h2,
h3 {
    text-align: center;
}

li {
    text-align: justify;
    text-justify: inter-word;
}

table {
    width: 100%;
}